.pokecontainer{
	background-size: 100px 80px;
	background-repeat: no-repeat;
	/*background-color: lightgrey;*/
	text-align: center;
}
.poketextcontainer{
    font-family: 'VT323', monospace;
   /* background-color: brown;*/
	margin: 0px;
	width: 100%;
	height: 120px;
}
.poketext{
	font-size: 20px;
	margin: 0px;
	line-height: 20px;
}

#container{
	padding: 10px;
	width: 650px;
	/*height: 200px;*/
	background-color: white;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px 100px;
	grid-column-gap: 10px;
}
.pokemon{
	display: inline-block;
	background-image: url(../sprites.png);
	/*background-position: -0px -80px;*/
	width: 80px;
	height: 80px;
	/*background-color: grey;*/
	/*filter: hue-rotate(180deg);*/
	/*filter: invert(100%);*/
	/*filter: contrast(1000%);*/
	/*filter: contrast(200%);*/
	/*filter: contrast(600%);*/
}